.App {
  background-color: rgb(178, 229, 250);
  margin: 0px;
  padding: 0px;
  position: static;
  font-family: "Source Sans Pro", serif;
  
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}