.topNav{
    background-color:rgb(67, 192, 246);
    margin: 0px;
    padding: 0px;
    height: 64px;
    display: flex;
    }
    
p.Navbar{
    align-self: center;
    margin: 20px 10 px 10px 10px;
    padding: 0px;
    color: white;
    }

ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
}
a{
    color: white;
    text-decoration: none;
}
.topMenu li{
    font: size 16px;

}
.topMenu li a{
    display:flex;
}

.logo a{
    font-size: 20px;
}

.Navbar{
    display: flex;
}

