.container {
	display: flex;
	justify-content: space-between;
	background-color: #b2e4fa;
}

.progress-container {
	background-color: pink;
}

/* .student-details {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    justify-content: center;
    width: 23%;
    height: 50%;
    border: black solid 1px;

} */
